/**
 * style for liquidluck-theme-responsive
 * 
 * @version 0.1
 * @author imbingdian@gmail.com
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

html {
    background: #fff;
    color: #333;
	font:16px/1.5  "Georgia","Helvetica Neue", Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	word-wrap: break-word;
}

/**
 * Remove default margin.
 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements */
dl, dt, dd, ul, ol, li, /* list elements */
pre, /* text formatting elements */
form, fieldset, legend, button, input, textarea, /* form elements */
th, td /* table elements */ {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a {
	color:#1863A1;
	text-decoration:none;
	border-bottom: 1px #1863A1 dotted;
}


a:visited {
	color: #769;	
}

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

a:hover{
	color:#0181EB;
	text-decoration:none;
	border-bottom: 1px #0181EB dotted;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.8em;
}

h2 {
	margin: 1.6em 0 1em 0;
    font-size: 1.6em;
}

h3 {
	margin: 1.2em 0 0.8em 0;
    font-size: 1.2em;
}

h4, h5, h6 {
    font-size: 1em;
}

/**
 * paragraph
 */
p {
	margin: 0.8em 0;
}


/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * code 
 */

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
	font-size: 1em;
}
pre {
    background: #f8f8f8;
	display: block;
	overflow-x: auto;
	padding:0.5em 1em;
	margin: 0 0 1.5em 0;
	border: 1px solid #ddd;
	white-space: pre-wrap;
}
code {
    font-family: Monaco,monospace;
    font-size: 12px;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote {
	display:block;
	text-align:justify;
	border-left:4px solid #ddd;
	margin:1em 0em;
	padding-left:1em;
}
blockquote p {
	margin:0;
	padding:0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Lists
   ========================================================================== */
ul, ol {
    margin: 0.8em 0 1.2em 0;
    padding: 0 0 0 2em;
}

ul ul {
    margin:0;
}

ol ol {
    margin: 0;
    list-style: upper-roman;
}

ol ol ol {
    list-style: upper-alpha;
}

li {
    line-height: 1.5em;
}
dl {
	padding-left: 2em;
}
dt {
	font-weight: bold;
	margin: 0.8 0 0.5em 0;
}
dd {
	text-indent: 1em;
}
/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
	font-size: 12px;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
table tr:nth-child(2n) {
      background-color: #f8f8f8;
}
table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
	margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
	margin-bottom: 0;
}

/* ==========================================================================
   Layout
   ========================================================================== */

/*
 * clear
 */
.clear:after { content: '\20'; display: block; height: 0; clear: both; }
.clear { *zoom: 1;}

/*
 * wrapper
 */
#wrapper {
	width: 960px;
	margin: 0 auto;
}

/*
 * header
 */
#header {
    width: 780px;
    float: right;
    padding: 2em 0 0.5em 0;
    border-bottom: 1px #ccc solid;
}

/*
 * nav
 */
#nav {
	width: 140px;
    padding-top: 90px;
	padding-bottom: 5em;
	text-transform:uppercase;
	float:left;
    font-size: 1em;
}
#nav a {
	display:block;
	padding:.5em 1em;
	color:#333;
}
#nav a:hover {
	background-color:#0181EB;
	text-decoration:none;
	color:#f9f9f9;
	-webkit-transition:color .2s linear;
	-moz-transition:color .2s linear;
}
#nav a:link, #nav a:visited, #nav a:hover {
	border-bottom: none;
}

/*
 * main
 */
#main {
	width: 780px;
	padding: 0 0 5em 0;
	float: right;
}


.item {
	clear: both;
}
.item h2 {
	margin: 1em 0 0 0;
	font-size: 1.2em;
}
.item ul {
	margin: 0;
	padding: 0;
}
.item li {
	clear: both;
	padding: 0.3em 0;
    list-style: none;
}
.item time {
	width: 8em;
	display: inline-block;
	float: left;
	*float: none;
	*margin-left: 1em;
	color: #999;
    font-family: "Galdeano","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.item a:link, .item a:visited, .item a:hover {
	border: none;
}


.entry-content {
	margin-bottom: 3em;
	padding-top: 1.5em !important;
}
.entry-meta {
    margin-top: 1em;
    padding: 0.5em 0;
    border-top: 1px #e4e4e4 solid;
    color: #999;
    font-size: 0.8em;
}
.entry-meta time {
    margin-right: 20px;
}
.entry-meta span {
    display: inline-block;
    margin-right: 20px;
}

.entry-content img {
	width: auto;
    max-width: 100%;
}

/*
 * tagcloud
 */
.tagcloud {
	padding-top: 1.5em;
    font-size: 1em;
}
.tagcloud a {
    display: inline-block;
    margin-right: 20px;
}
.tagcloud a:link, .tagcloud a:visited {
	border: none;
}

/*
 * disqus
 */
#disqus_thread {
	padding-top: 2em;
}
/*
 * footer
 */
#footer {
	width: 960px;
	clear: both;
	margin: 0 auto;
	border-top: 1px #ccc solid;
	color: #999;
	text-align: center;
    font-size: 14px;
}


/* ==========================================================================
   Responsive
   ========================================================================== */
/* desktop */
@media only screen and (max-width: 959px) {
	#footer, #nav {
		width: 100%;
	}
    #header {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #main {
        float: none;
        width: auto;
        border-top: 1px #ccc solid;
    }
	
	#nav {
        padding-top: 0;
		padding-bottom: 0;
        clear: both;
        float: none;
	}
}
/* pad */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #wrapper {
		width: 680px;
        margin: 0 auto;
	}
    #nav {
        margin-left: -1em;
        padding: 0.5em 0;
    }
	#nav a {
		display:inline-block;
	}
	
}
 
/* phone */
@media only screen and (max-width: 767px) {
    #wrapper {
        width: auto;
    }
    #header h1 {
        padding-left: 0.5em;
    }
    #main {
        padding-left: 1em;
        padding-right: 1em;
    }
	#main ul li time {
		display: inline;
		float: none;
	}
	#main ul li a {
		margin-right: 10px;
	}
}
 
 
/* phone  */
@media only screen and (max-width: 479px) {
	#header-inner {
        padding-top: 20px;
        font-size: 14px;
    }
    #logo {
        font-size: 1.5em;
        margin-left: 20px;
    }
}